extend layout
block content
  form(action='/', method='post')
    | Path 
    input#path(type='text', name='path', placeholder='File Path', autofocus, required)
    br
    | JSON 
    textarea(name='json', rows='10', cols='50', placeholder='JSON', required)
    br
    input(type='submit', value='Add')

  ul
    each file in files
      li
        a(href=file.path) #{file.path} 
        | delete
        | copy path