extend layout

block content
  
  h2 Add Endpoint

  form(action='/', method='post')
    | Path: 
    input#path(type='text', name='path', placeholder='File Path', autofocus, required)
    br
    | JSON: 
    textarea(name='json', rows='10', placeholder='JSON', required)
    br
    button(type='submit') Add Endpoint

  h2 Available Endpoints

  ul
    each file in files
      li
        a(href=file.path) #{file.path}