extend layout
block content
  form(action='/', method='post')
    | path 
    input#path(type='text', name='path')
    | json 
    input#json(type='text', name='json')
    input(type='submit', value='submit')

  ul
    each file in files
      li
        a(href=file) #{file}